header nav{
    width: 100%;
    ul{
        width: 100%;
        justify-content: flex-end;
 }
 .headernav{background-color: #05062E; }
 .logonav{       
    width: 160px;
    height: 100%;
    display: inline;
    margin: 0%;
    padding: 0%;}
 .hamburguesa{background-color: #AEAEB8;}
 .box{  background-color: #AEAEB8;
    color: #08056E;
    text-decoration: none;
    padding: 0px;
    margin: 2px;
  &:hover {  
    transition: 1s;
    transform: scale(1.25);  }
 }
 .divbarflex{display: flex;
    flex-direction: row;
    justify-content: space-between;}
}
footer {
   font-size: 20px;
   background-color: map-get($map: $footer, $key:bg-principal );
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-top: auto;
}